* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-box; 
}

/* body rules here */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

/* header */
header {
    background-color: gray;
    padding: 1rem 2%;
}

header h1 {
margin: 0;
}

header h2 {
margin: 0;
}

/* navigation rules here */
nav {background-color: pink;}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: white;}
nav a {
    display: block;
    padding: .8rem 0; 
    color: black;
    text-align: center;
    text-decoration: none;
}

nav a:hover {background-color: white;}

/* main rules here */
main {
    padding: 1rem 2%;
    display: block;
}

main h1 {color: black;}

main figure img {width: 100%;}
main figure{
    width: 100%;
    margin: 0;
}

main figcaption {text-align: center; font-size: .8rem;}


footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: pink;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
